In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [11]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Padang,ID,77.85,light rain,-0.9492,100.3543,Mercure Padang
1,2,Butaritari,KI,82.62,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
2,8,Constantine,DZ,84.02,scattered clouds,36.3650,6.6147,Grand Hotel Cirta
3,10,Hithadhoo,MV,84.07,broken clouds,-0.6000,73.0833,Scoop Guest House
4,12,Rio Branco Do Sul,BR,77.83,clear sky,-25.1900,-49.3142,Dr Hotel Rio Branco do Sul ( Suítes Com Ar $10...

In [13]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [14]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Clarksville']
vacation_end = vacation_df.loc[vacation_df['City']=='Clarksville']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Russell']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Saint Augustine']
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Wilmington']

In [26]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0])
end = (vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0])
stop2 = (vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0])

In [27]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start_to_end = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,179,Clarksville,US,79.72,scattered clouds,36.5298,-87.3595,Riverview Inn
1,179,Clarksville,US,79.72,scattered clouds,36.5298,-87.3595,Riverview Inn
2,376,Russell,US,86.97,broken clouds,32.3502,-85.1999,Macs
3,665,Saint Augustine,US,87.06,overcast clouds,29.8947,-81.3145,St. George Inn
4,188,Wilmington,US,81.00,overcast clouds,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."

In [30]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))