In [33]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [34]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bambous Virieux,MU,-20.3428,57.7575,71.22,68,38,14.14,scattered clouds
1,1,Padang,ID,-0.9492,100.3543,77.85,86,98,4.25,light rain
2,2,Butaritari,KI,3.0707,172.7902,82.62,70,92,16.75,overcast clouds
3,3,Kiunga,PG,-6.1219,141.2906,72.97,99,100,2.80,moderate rain
4,4,Kearney,US,40.6995,-99.0815,64.49,38,49,13.44,scattered clouds

In [35]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [36]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Padang,ID,-0.9492,100.3543,77.85,86,98,4.25,light rain
2,2,Butaritari,KI,3.0707,172.7902,82.62,70,92,16.75,overcast clouds
8,8,Constantine,DZ,36.3650,6.6147,84.02,35,47,4.36,scattered clouds
10,10,Hithadhoo,MV,-0.6000,73.0833,84.07,74,75,16.55,broken clouds
12,12,Rio Branco Do Sul,BR,-25.1900,-49.3142,77.83,22,5,4.09,clear sky
14,14,Sinnamary,GF,5.3833,-52.9500,87.22,61,19,9.08,few clouds
16,16,Narayanganj,BD,23.6233,90.5011,75.90,92,100,2.39,overcast clouds
33,33,Mpulungu,ZM,-8.7623,31.1141,82.56,42,45,1.57,scattered clouds
39,39,Port-Gentil,GA,-0.7193,8.7815,77.31,83,99,17.92,overcast clouds
43,43,Bambanglipuro,ID,-7.9500,110.2833,75.33,90,100,5.26,overcast clouds

In [37]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                228
City                   228
Country                228
Lat                    228
Lng                    228
Max Temp               228
Humidity               228
Cloudiness             228
Wind Speed             228
Current Description    228
dtype: int64

In [39]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Padang,ID,-0.9492,100.3543,77.85,86,98,4.25,light rain
2,2,Butaritari,KI,3.0707,172.7902,82.62,70,92,16.75,overcast clouds
8,8,Constantine,DZ,36.3650,6.6147,84.02,35,47,4.36,scattered clouds
10,10,Hithadhoo,MV,-0.6000,73.0833,84.07,74,75,16.55,broken clouds
12,12,Rio Branco Do Sul,BR,-25.1900,-49.3142,77.83,22,5,4.09,clear sky
...,...,...,...,...,...,...,...,...,...,...
684,684,Siavonga,ZM,-16.5382,28.7088,83.26,27,0,2.37,clear sky
685,685,Nishihara,JP,26.1842,127.7558,79.09,80,0,5.21,clear sky
688,688,Kisangani,CD,0.5167,25.2000,75.42,83,96,1.30,overcast clouds
696,696,Gamba,GA,-2.6500,10.0000,76.44,79,99,8.19,overcast clouds
698,698,Namatanai,PG,-3.6667,152.4333,77.92,84,100,3.20,light rain

In [40]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Padang,ID,77.85,light rain,-0.9492,100.3543,
2,Butaritari,KI,82.62,overcast clouds,3.0707,172.7902,
8,Constantine,DZ,84.02,scattered clouds,36.3650,6.6147,
10,Hithadhoo,MV,84.07,broken clouds,-0.6000,73.0833,
12,Rio Branco Do Sul,BR,77.83,clear sky,-25.1900,-49.3142,
14,Sinnamary,GF,87.22,few clouds,5.3833,-52.9500,
16,Narayanganj,BD,75.90,overcast clouds,23.6233,90.5011,
33,Mpulungu,ZM,82.56,scattered clouds,-8.7623,31.1141,
39,Port-Gentil,GA,77.31,overcast clouds,-0.7193,8.7815,
43,Bambanglipuro,ID,75.33,overcast clouds,-7.9500,110.2833,

In [41]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [52]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Padang,ID,77.85,light rain,-0.9492,100.3543,Mercure Padang
2,Butaritari,KI,82.62,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
8,Constantine,DZ,84.02,scattered clouds,36.3650,6.6147,Grand Hotel Cirta
10,Hithadhoo,MV,84.07,broken clouds,-0.6000,73.0833,Scoop Guest House
12,Rio Branco Do Sul,BR,77.83,clear sky,-25.1900,-49.3142,Dr Hotel Rio Branco do Sul ( Suítes Com Ar $10...
...,...,...,...,...,...,...,...
683,Forio,IT,75.81,clear sky,40.7342,13.8646,Hotel Terme Providence
684,Siavonga,ZM,83.26,clear sky,-16.5382,28.7088,Lavongora Waterfront Lodge
685,Nishihara,JP,79.09,clear sky,26.1842,127.7558,Minshuku Agaihama
688,Kisangani,CD,75.42,overcast clouds,0.5167,25.2000,Grand Ramela Hotel
698,Namatanai,PG,77.92,light rain,-3.6667,152.4333,Seagulls Inn Namatani

In [54]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [65]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [66]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))